/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-neutral-900;
        @apply bg-pink-400;
        @apply font-medium;
        @apply self-center;
        @apply text-center;
        @apply p-2;
        @apply text-4xl;
    }
    
    h2 {
        @apply text-neutral-700;
        @apply bg-sky-300;
        @apply font-medium;
        @apply self-center;
        @apply text-center;
        @apply text-2xl;
        @apply p-2;
    }
    
    h3 {
        @apply text-neutral-700;
        @apply bg-teal-500;
        @apply font-medium;
        @apply self-center;
        @apply text-center;
        @apply text-lg;
        @apply p-2;
    }

    p {
        @apply text-justify;
        @apply text-slate-300;
        max-width: 70ch;
    }
    
    b {
        @apply text-justify;
        @apply text-slate-100;
        max-width: 70ch;
    }

    a {
        @apply text-sky-500;
    }

    ul {
        /* Apply list-disc for bullet points and pl-4 for padding */
        @apply list-disc; 
        @apply pl-4; 
        @apply list-outside; 
        @apply self-stretch;
        @apply m-2;
        @apply text-slate-300;
    }

    li {
        @apply mb-2; /* Add some spacing between list items */
        max-width: 70ch;
        @apply text-slate-300;
    }

    img {
        @apply shadow-md;
        @apply rounded-xl;
    }

    input[type="checkbox"] {
        @apply text-pink-400;
    }
}

/*
     #161616  neutral-900
     #262626  neutral-800
     #393939  neutral-700
     #525252  neutral-600
     #dde1e6  gray-200
     #f2f4f8  slate-100
     #ffffff  white
     #08bdba  teal-500
     #3ddbd9  teal-400
     #78a9ff  blue-400
     #ee5396  pink-500
     #33b1ff  sky-500
     #ff7eb6  pink-400
     #42be65  green-500
     #be95ff  purple-400
     #82cfff  sky-300

"#FFFFFF" white
"#FAFAFA" zinc-50
"#ECEFF1" gray-100
"#161616" neutral-900
"#37474F" gray-700
"#90A4AE" gray-400
"#525252" neutral-600
"#08bdba" teal-500
"#ff7eb6" pink-400
"#ee5396" pink-500
"#FF6F00" orange-500
"#0f62fe" blue-600
"#673AB7" violet-700
"#42be65" green-500
"#be95ff" purple-400
"#FFAB91" red-300
*/
