---
import Layout from '@layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout title="Page not found">
    <div class="flex flex-col w-dvw px-10 gap-2 grow">
        <h1>
            404 Page not found!
        </h1>
        <p>
            Oh no! Page not found!
        </p>
        <ul class="list-outside">
            <li>
                If you pasted the URL, perhaps there is a typo or it is outdated. Do go back to the 
                <a href="/">home page</a> and see if you can find what you were looking for.
            </li>
            <li>
                If you clicked on a link in my website and came here, 
                <a href="/contactme">let me know!</a>
            </li>
        </ul>
    </div>
</Layout>
