---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import Banner from 'assets/aboutme.png'
---

<Layout title="About Me">
    <div class="flex flex-col w-dvw px-10 gap-4 grow items-center">
        <h1>Hello!</h1>
        <p>My name is <b>Yuknavell</b>. I come in many names...</p>
        <h2>What's my name?</h2>
        
        <ul class="max-w-[70ch]">
            <li><b>[Yuknavell]</b>: This is my first name. I write this on my homeworks any non-official documents.</li>
            <li><b>[Yuknavell S&#47;O Thiyagarajan]</b>: My legal name. A patronym, where S&#47;O refers to <a href="https://en.wikipedia.org/wiki/Indian_Singaporeans#Naming_conventions">'son of'</a>. Shortened to <b>T. Yuknavell</b>.</li>
            <li><b>[]</b>: </li>
        </ul>
            <li><b>[]</b>: </li>
        </ul>
    </div>
</Layout>
