---
import Layout from '@layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="About Me">
    <div class="flex flex-col w-dvw px-10 gap-2 grow">
        <h1 class="text-3xl justify-center">
            I am Yukna!
        </h1>
        <p>Yukna'vell</p>
    </div>
</Layout>
