---
import Layout from '@layouts/Layout.astro';
import Content from '@content/about.mdx'
import heroImage from '@assets/banner.jpg';
import { Image } from 'astro:assets';
---

<Layout title="About Me" description="About Yukna">
        <h1>Hello</h1>
        <div class="flex flex-col justify-center items-center">
            <div> <Image src={heroImage} alt="Me overlooking a mountain range"/> </div>
            <div class="px-5"> <Content /> </div>
        </div>
</Layout>
