---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact Form">
    <div class="flex flex-col h-dvh grow">
        <h1>Do fill the form below. </h1>
        <h3>
            If the form does not load, <a href="https://forms.gle/B6NFDDeKxjhR81sa6">click here!</a>
        </h3>
        <iframe 
            src="https://docs.google.com/forms/d/e/1FAIpQLScV8-FbEl0_nUQKLxHrhxtQsDq94sGoZHyf6WFzEj78zeqVdA/viewform?embedded=true" 
            class="border-none flex-1">
            Loading…
        </iframe>
    </div>
</Layout>
