---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact Form">
    <div class="flex flex-col w-screen gap-2 items-stretch">
        <h1 class="self-center justify-center p-2 bg-green-100 shadow-md">
            Do fill the form below. If the form does not load, <a href="https://forms.gle/B6NFDDeKxjhR81sa6">click here!</a>
        </h1>
        <iframe 
            src="https://docs.google.com/forms/d/e/1FAIpQLScV8-FbEl0_nUQKLxHrhxtQsDq94sGoZHyf6WFzEj78zeqVdA/viewform?embedded=true" 
            class="w-full h-full border-none">
            Loading…
        </iframe>
    </div>
</Layout>
