---
import Layout from '@layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Hello">
    <div class="h-screen w-screen grid grid-cols-3 text-center">
        <div class="col-span-3 font-bold text-3xl">
            <h1>Greetings</h1>
        </div>
        <div>
            Hello
        </div>
        <div>
            World
        </div>
        <div>
            !
        </div>
    </div>
</Layout>
