---
import Layout from '@layouts/Layout.astro';
import MenuIcon from '@assets/icons/menu.svg'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Hello">
    <div class="flex flex-col w-dvw px-10 gap-4 flex-grow items-center">
        <h1>Hello world!</h1>
        <h2>This website is a work in progress so do stay tuned...</h2>
        <h3>Do click on the links above (or in the <MenuIcon class="inline" /> icon on mobile) do discover more things:</h3>
        <ul class="max-w-[70ch] self-stretch m-2">
            <li><span class="font-bold">[Yadobler]</span>: This page.</li>
            <li><span class="font-bold">[About Me]</span>: A brief description of me.</li>
            <li><span class="font-bold">[Blog]</span>: A listing of blogs and writeups.</li>
            <li><span class="font-bold">[Showcase]</span>: A curated list of projects I have done (like this site!).</li>
            <li><span class="font-bold">[Contact]</span>: A contact form if you'd like to correspond with me.</li>
            <li class="font-bold">Likewise the icons below are links to my social sites.</li>
        </ul>
        <h3>The links above change colour to indicate which site you're on (now indicated by the colourful <span class="font-bold bg-gradient-to-r from-blue-500 via-violet-800 to-red-500 text-transparent bg-clip-text">Yadobler</span> text).</h3>
    </div>
</Layout>
