---
import Layout from '@layouts/Layout.astro';
import MenuIcon from '@assets/icons/menu.svg'
---

<Layout title="Hello" description="Landing home page">
    <h1>Hello world!</h1>
    <h2>This website is a work in progress so do stay tuned...</h2>
    <p>
    Do click on the links above (or in the <MenuIcon class="inline" /> icon on mobile) do discover more things:
    </p>
    <ul>
        <li><b>[Yadobler]</b>: This page.</li>
        <li><b>[About Me]</b>: A brief description of me.</li>
        <li><b>[Blog]</b>: A listing of blogs and writeups.</li>
        <li><b>[Showcase]</b>: A curated list of projects I have done (like this site!).</li>
        <li><b>[Contact]</b>: A contact form if you'd like to correspond with me.</li>
        <li class="font-bold">Likewise the icons below are links to my social sites.</li>
    </ul>
    <p>
    The links above change colour to indicate which site you're on (now indicated by the colourful <span class="font-bold bg-gradient-to-r from-blue-500 via-violet-800 to-red-500 text-transparent bg-clip-text">Yadobler</span> text).
    </p>
</Layout>
