---
const { title, href, img } = Astro.props;
import { Image } from 'astro:assets';
---
<a href={href} class="block max-w-[90ch] p-3 transition-transform transform hover:scale-[1.02] not-prose w-full">
    <div class="flex flex-col p-3 gap-2 shadow-md bg-secondary-bg-light dark:bg-secondary-bg-dark text-primary-fg-light dark:text-primary-fg-dark rounded-lg transition-colors hover:bg-tertiary-bg-light dark:hover:bg-tertiary-bg-dark">
        <!-- Image -->
        {img && (
        <div class="w-full aspect-video overflow-hidden rounded-md shadow-sm">
            <Image src={img} alt={`Image of ${title}`} class="w-full h-full object-cover" />
        </div>
        )}

        <!-- Title -->
        <h2 class="text-2xl font-semibold text-center bg-gray-200 dark:bg-gray-800 p-1 m-0 rounded-md">
            {title}
        </h2>

        <!-- Description -->
        <div class="text-sm text-pretty line-clamp-3 p-1">
            <slot />
        </div>
    </div>
</a>
