---
import OpenIcon from "@assets/icons/menu.svg";
import CloseIcon from "@assets/icons/close.svg";

interface Page {
    name: string;
    href: string;
}

const logo = {name: "Yadobler", href: "/"}

const pages : [Page] = [
    {name: "About Me", href: "/about"},
    {name: "Blog",     href: "/blog"},
    {name: "Showcase", href: "/showcase"}
]

const currentPath = Astro.url.pathname;
const indicator = p => (currentPath === p.href ? "bg-gradient-to-r from-blue-500 via-violet-800 to-red-500 text-transparent bg-clip-text" : "bg-transparent");
---
<footer class="flex flex-col bg-sky-100">
    <div class="max-w-screen flex flex-row items-center justify-between p-4">
        <!-- logo -->
        <div class="text-lg font-semibold">
            <a href={logo.href} class={indicator(logo) + " self-center text-2xl font-semibold whitespace-nowrap"}>{logo.name}</a>
        </div>

        <!-- wide screen navbar -->
        <nav class="hidden sm:flex sm:flex-row text-lg gap-4">
            {pages.map(page => (
            <a href={page.href} class={indicator(page) + " text-gray-700"}>{page.name}</a>
            ))}
        </nav>
    </div>
</footer>
