---
import GithubIcon   from "@assets/icons/github.svg";
import MailIcon     from "@assets/icons/mail.svg";
import LinkedinIcon from "@assets/icons/linkedin.svg";

interface Socials {
    name: string;
    href: string;
    logo: any;
}

const socials : [Socials] = [
    {name:"Github", href: "https://github.com/Yadobler", logo: GithubIcon },
    {name:"Mail", href: "/contactme", logo: MailIcon },
    {name:"Linkedin", href: "https://www.linkedin.com/in/yuknavell/", logo: LinkedinIcon }
]

const year = new Date().getFullYear()
---
<footer class="relative max-h-screen flex flex-col bg-secondary-bg-light dark:bg-secondary-bg-dark items-center">
    <div class="max-w-[90ch] w-full flex flex-row items-center p-4 justify-between">
        <div class="flex justify-center items-center">
            © Yukna'vell {year}
        </div>

        <div class="flex justify-center items-center gap-4 flex-wrap">
            {socials.map(s => (
            <a href={s.href} class="flex items-center gap-2" key={s.name}>
                <s.logo 
                    title={s.name} 
                    class="w-6 h-6 flex-grow-0 hover:shadow-2xl hover:shadow-primary fill-current text-primary-fg-light dark:text-primary-fg-dark" 
                /> 
            </a>
            ))}
        </div> 
    </div> 
</footer>
