---
import MenuLogo from '@assets/icons/menu.svg'
const pages = ["About Me", "Blog", "Showcase"];
---
<header>
    <nav class="w-screen flex flex-row justify-around flex-nowrap gap-10 text-lg px-8 py-2 bg-gray-400 text-black">
        <div class="flex flex-auto justify-items-start">
            <a href="/" class="hover:bg-gray-500 px-3 py-0.5 rounded-lg transition-colors"> 
                Yadobler
            </a>
        </div>

        <!-- visible on small screens -->
        <div class="flex sm:hidden items-center">
            <MenuLogo />    
        </div>
<!-- 
        {pages.map(item => (
        <div class="flex sm:hidden flex-initial justify-items-stretch">
            <a href={item} class="hover:bg-gray-500 px-3 py-0.5 rounded-lg transition-colors">{item}</a>
</div>))}
-->
        
        <!-- visible on large screens -->
        {pages.map(item => (
        <div class="hidden sm:flex flex-initial justify-items-stretch">
            <a href={item} class="hover:bg-gray-500 px-3 py-0.5 rounded-lg transition-colors">{item}</a>
        </div>))}
        
    </nav>
</header>
