---
interface Page {
    name: string;
    href: string;
}

const logo = {name: "Yadobler", href: "/"}

const pages : [Page] = [
    {name: "About Me", href: "/about"},
    {name: "Blog",     href: "/blog"},
    {name: "Showcase", href: "/showcase"}
]

const currentPath = Astro.url.pathname;
---
<header>
    <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">

        <!-- logo -->
        <div class="text-lg font-semibold">
            <a href={logo.href} class={(currentPath === logo.href && "bg-red-500 ") + "self-center text-2xl font-semibold whitespace-nowrap"}>{logo.name}</a>
        </div>

        <nav class="flex flex-row text-lg gap-4">
            {pages.map(page => (
            <a href={page.href} class={(currentPath === page.href && "bg-red-500") + " text-gray-700"}>{page.name}</a>
            ))}
        </nav>

    </div>
</header>
