---
---
<div class="prose prose-sm md:prose-lg max-w-full md:max-w-prose
    prose-h1:text-4lg prose-h1:text-secondary-fg-light dark:prose-h1:text-secondary-fg-dark prose-h1:bg-secondary-bg-light dark:prose-h1:bg-secondary-bg-dark
    prose-h2:text-3lg prose-h2:text-tertiary-fg-light dark:prose-h2:text-tertiary-fg-dark prose-h2:bg-tertiary-bg-light dark:prose-h3:bg-tertiary-bg-dark
    prose-h3:text-2lg prose-h3:text-secondary-fg-light dark:prose-h3:text-secondary-fg-dark prose-h3:bg-tertiary-bg-light dark:prose-h4:bg-tertiary-bg-dark
    prose-h4:text-lg prose-h4:text-secondary-fg-light dark:prose-h4:text-secondary-fg-dark prose-h4:bg-tertiary-bg-light dark:prose-h2:bg-tertiary-bg-dark
    prose-a:text-link-light hover:prose-a:text-hover-light dark:prose-a:text-link-dark hover:dark:prose-a:text-hover-dark
    prose-p:text-primary-fg-light dark:prose-p:text-primary-fg-dark
    prose-b:text-primary-fg-light dark:prose-b:text-primary-fg-dark
    ">
    <slot />
</div>
