---
---
<div class="prose prose-sm md:prose-lg 
    prose-a:text-primary 
    prose-p:text-gray-800 dark:prose-p:text-gray-200 
    prose-img:rounded-xl prose-img:mx-auto 
    prose-hr:border-gray-500 prose-hr:my-10 
    prose-blockquote:text-lg prose-blockquote:text-gray-700 
    max-w-full md:max-w-prose">
    <slot />
</div>
