---
---
<div
    class=" prose 
    prose-lg md:prose-xl
    prose-h1:font-bold prose-h1:text-xl
    prose-a:text-blue-600 prose-p:text-justify 
    prose-img:rounded-xl prose-img:mx-auto
    prose-hr:border-gray-500 prose-hr:border-single prose-hr:my-10
    prose-blockquote:place-items-center prose-blockquote:m-0 prose-blockquote:text-xl prose-blockquote:text-gray-700 
    max-w-[100%] md:max-w-prose
    ">
    <slot />
</div>
