---
---
<div
    class=" prose 
    prose-sm md:prose-lg
    prose-a:text-sky-500 prose-p:text-justify 
    prose-img:rounded-xl prose-img:mx-auto
    prose-hr:border-neutral-700 prose-hr:border-single prose-hr:my-10
    prose-blockquote:place-items-center prose-blockquote:m-0 prose-blockquote:text-xl prose-blockquote:text-gray-200
    prose-p:text-slate-300 
    prose-strong:text-slate-100 
       prose-h1:text-neutral-900
       prose-h1:bg-pink-400
       prose-h1:font-medium
       prose-h1:self-center
       prose-h1:text-center
       prose-h1:p-2
       prose-h1:text-4xl

        prose-h2:text-neutral-700
        prose-h2:bg-sky-300
        prose-h2:font-medium
        prose-h2:self-center
        prose-h2:text-center
        prose-h2:text-2xl
        prose-h2:p-2

        prose-h3:text-neutral-700
        prose-h3:bg-teal-500
        prose-h3:font-medium
        prose-h3:self-center
        prose-h3:text-center
        prose-h3:text-lg
        prose-h3:p-2

    max-w-[100%] md:max-w-prose
    ">
    <slot />
</div>
