---
---
<div
    class="prose md:prose-xl
    prose-h1:font-bold prose-h1:text-xl
    prose-a:text-blue-600 prose-p:text-justify 
    prose-img:rounded-xl prose-img:mx-auto
    prose-code:text-gray-700
    prose-hr:border-gray-500 prose-hr:border-dotted prose-hr:my-10
    prose-pre:max-w-[55ch] prose-pre:place-items-center
    max-w-[65ch]
    ">
    <slot />
</div>
