---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/base.css';

interface Props {
    title: string;
    description: string;
}

const { title, description = "Yukna's Blog" } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title} | Yadobler Blog</title>
    </head>
    <body class="bg-gray-100 flex flex-col gap-5 min-h-dvh">
        <Header />
        <main class="flex flex-1 justify-center w-full">
            <slot />
        </main>
        <Footer />
    </body>
</html>
